<div class="container mt-5 col-md-6">
  <h2 class="text-center">Submitted Data</h2>
  <div class="mt-5 p-3 border rounded bg-light">
    <h4 class="mb-3">Product Information</h4>
    <ul class="d-flex flex-column gap-3">
      <li><b>Product Name:</b> {{displayData.name}}</li>
      <li><b>Rating:</b> {{displayData.rating}}</li>
      <li><b>Feedback:</b> {{displayData.feedback}}</li>
      <li><b>Email:</b> {{displayData.email}}</li>
      <li><b>Would Recommend:</b> {{displayData.recommand}}</li>
    </ul>
  </div>
</div>
