<div class="p-2 d-flex flex-column gap-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Page Count</th>
                <th>Available</th>
                <th>Book Page</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Book of books">
                <td>{{Book.title}}</td>
                <td>{{Book.author}}</td>
                <td>{{Book.pages}}</td>
                <td>{{Book.isAvailable?"yes":"No"}}</td>
                <td><a routerLink="/books/{{Book._id}}">Book Details</a></td>
            </tr>
        </tbody>
    </table>
</div>