<form (ngSubmit)="createBook()" class='col-5 container border rounded shadow p-5'>
    <div class="form-group mt-3">
      <label class='form-label'>Title</label>
      <input [(ngModel)]="newBook.title" name='title' type="text" class="form-control" placeholder="Add your new book">
    </div>
    <div class="form-group mt-3">
      <label class='form-label'>Author Name</label>
      <input [(ngModel)]="newBook.author" name='author' type="text" class="form-control" placeholder="Precise the author">

    </div>
    <div class="form-group mt-3">
      <label class='form-label'>Page Count</label>
      <input [(ngModel)]="newBook.pages" name='pages' type="number" class="form-control" placeholder="Precise the number of pages">

    </div>
    <div class="form-group mt-3 d-flex gap-4 align-items-center">
      <label class='form-label m-0'>Is it Available ?</label>
      <input [(ngModel)]="newBook.isAvailable" name='isAvailable' type="checkbox" placeholder="Precise the number of pages">
    </div>
    <button class='btn btn-primary mt-3'>Add Book</button>
  </form>